:root {
  --texto-rojo: #f73030;
  --texto-blanco: #ffffff;
  --texto-negro: #000000;
  --fondo-negro: #000000;
  --fondo-rojo: rgba(247, 48, 48, 0.1);
  --fondo-rojo-dos: rgba(247, 48, 48, 0.6);
  --fuente-principal: "Merriweather", sans-serif;
  --fuente-secundaria: "Montserrat", sans-serif;
}

/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* STYLES */

* {
  font-family: var(--fuente-principal);
  scroll-behavior: smooth;
}

html,
body {
  width: 100%;
  height: 100vh;
  color: var(--texto-negro);
  background-color: var(--fondo-negro);
}

p {
  font-size: 1vw;
  font-family: var(--fuente-secundaria);
  line-height: 2;
  letter-spacing: 2px;
  color: var(--texto-blanco);
  margin-bottom: 1.5rem;
}

strong {
  font-weight: bold;
  font-size: 1.2vw;
  font-family: var(--fuente-principal);
  color: var(--texto-rojo);
}

.logo {
  width: 100px;
  height: auto;
}

.wrap {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  width: 100vmin;
  height: 75vmin;
  margin: 9% auto;
  border: 8px solid var(--texto-rojo);
  transition: 0.3s ease-in-out;
  position: relative;
  overflow: hidden;
  box-shadow: 0 5px 15px var(--texto-rojo);
}
.overlay {
  position: relative;
  background-color: var(--fondo-rojo);
  display: flex;
  width: 100%;
  height: 100%;
  padding: 1rem 0.75rem;
  transition: 0.4s ease-in-out;
  z-index: 1;
}

.overlay-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 15vmin;
  height: 100%;
  padding: 0.5rem 0 0 0.5rem;
  border: 3px solid;
  border-image: linear-gradient(to bottom, #f73030) 0 0 0 100%;
  transition: 0.3s ease-in-out 0.2s;
  z-index: 1;
}

.text a {
  text-decoration: none;
}

.text a button {
  padding: 7px;
  border-radius: 5%;
  background-color: var(--fondo-rojo);
  border: 1px solid var(--texto-rojo);
  font-family: var(--fuente-principal);
  color: var(--texto-blanco);
  margin: 2%;
  cursor: pointer;
}

.text a button:hover {
  background-color: var(--texto-rojo);
  border: 1px solid var(--texto-blanco);
  box-shadow: 0 5px 15px var(--texto-rojo);
  transition: 0.3s ease-in-out;
}

.text h2 {
  font-family: var(--fuente-principal);
  color: var(--texto-blanco);
  text-align: center;
  margin-bottom: 5%;
  margin-top: 3%;
}

.overlay .overlay-content h1 {
  font-size: 1.5vw;
  color: var(--texto-blanco);
  text-align: center;
  line-height: 2;
  margin-bottom: 2.5rem;
}

.wrap:hover .overlay .overlay-content h1,
.wrap:hover .overlay .overlay-content p {
  background-color: var(--fondo-rojo-dos);
  width: fit-content;
  padding: 0.2rem 0.5rem;
  border-radius: 3%;
  border: 1px solid var(--texto-blanco);
}

.wrap:hover .overlay .overlay-content .logo {
  background-color: var(--fondo-rojo-dos);
  padding: 0.2rem 0.5rem;
  border-radius: 50%;
  border: 1px solid var(--texto-blanco);
}

.image-content {
  position: absolute;
  top: 0;
  right: 0;
  width: 70vmin;
  height: 100%;
  background-size: cover;
  transition: 0.3s ease-in-out;
  border: 1px solid var(--fondo-rojo);
}

.image-content img {
  width: 100%;
  height: 100%;
}

.text img {
  width: 150px;
  height: 150px;
  margin: 0.25em 1em 1em 0;
  border-radius: 0.25em;
  float: left;
  transition: all 0.5s ease-in-out;
}

.text .foto-1 {
  width: 70px;
  height: 80px;
  margin: 0.25em 1em 1em 0;
  border-radius: 0.25em;
  float: left;
  transition: all 0.5s ease-in-out;
}

.text .foto-1:hover {
  border-radius: 50%;
  -webkit-border-radius: 50%;
  box-shadow: 0px 0px 15px 15px #4c4c4c;
  -webkit-box-shadow: 0px 0px 15px 15px #4c4c4c;
  transform: rotate(360deg);
  -webkit-transform: rotate(360deg);
}

.dots {
  position: absolute;
  bottom: 1rem;
  right: 2rem;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 55px;
  height: 4vmin;
  transition: 0.3s ease-in-out 0.3s;
}
.dots button {
  cursor: pointer;
  background-color: var(--texto-rojo);
  border: 1px solid var(--texto-blanco);
  border-radius: 50%;
  color: var(--texto-blanco);
  padding: 3px;
  font-size: 0.7rem;
  width: 80px;
  height: 40px;
  transition: 0.3s ease-in-out 0.3s;
  text-align: center;
  font-weight: bold;
  box-shadow: 0 5px 15px var(--texto-rojo);
}

.text {
  position: absolute;
  background-color: var(--fondo-rojo);
  top: 0;
  right: 0;
  width: 60vmin;
  height: 100%;
  padding: 3vmin 4vmin;
  overflow-y: scroll;
}

.text::-webkit-scrollbar {
  width: 12px; /* Ancho de la barra completa */
}

.text::-webkit-scrollbar-track {
  background: var(--texto-rojo); /* Color del fondo de la barra */
}

.text::-webkit-scrollbar-thumb {
  padding: 10px;
  margin-left: 2%;
  background-color: var(--fondo-rojo); /* Color de la parte arrastrable */
  border-radius: 20px; /* Redondea las esquinas del "thumb" */
  border: 3px double var(--texto-blanco); /* Borde para el efecto de separación */
}

.wrap:hover .overlay {
  transform: translateX(-60vmin);
}
.wrap:hover .image-content {
  width: 40vmin;
}
.wrap:hover .overlay-content {
  border: none;
  transition-delay: 0.2s;
  transform: translateX(60vmin);
}
.wrap:hover .dots {
  transform: translateX(1rem);
}
.wrap:hover .dots button {
  display: none;
}

.enlaces {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 10px;
}

/* Animations and timing delays */
.pop {
  animation-name: pop;
}
@keyframes pop {
  0% {
    opacity: 0;
    transform: scale(0.5, 0.5);
  }
  100% {
    opacity: 1;
    transform: scale(1, 1);
  }
}

/* Slide In */
.slide {
  animation-name: slide;
}
@keyframes slide {
  0% {
    opacity: 0;
    transform: translate(4em, 0);
  }
  100% {
    opacity: 1;
    transform: translate(0, 0);
  }
}

/* Slide Left */
.slide-left {
  animation-name: slide-left;
}
@keyframes slide-left {
  0% {
    opacity: 0;
    transform: translate(-40px, 0);
  }
  100% {
    opacity: 1;
    transform: translate(0, 0);
  }
}

.slide-up {
  animation-name: slide-up;
}
@keyframes slide-up {
  0% {
    opacity: 0;
    transform: translateY(3em);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.delay-1 {
  animation-delay: 0.3s;
}
.delay-2 {
  animation-delay: 0.6s;
}
.delay-3 {
  animation-delay: 0.9s;
}
.delay-4 {
  animation-delay: 1.2s;
}
.delay-5 {
  animation-delay: 1.5s;
}
.delay-6 {
  animation-delay: 1.8s;
}
.delay-7 {
  animation-delay: 2.1s;
}
.delay-8 {
  animation-delay: 2.4s;
}

.tecno-icons {
  display: flex;
  gap: 1.5rem;
  margin-bottom: 15%;
  margin-top: 3%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.tecno-icons a {
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 45px;
  height: 45px;
  background-color: rgba(247, 48, 48, 0.1);
  border-radius: 50%;
  color: var(--texto-rojo);
  font-size: 1.2rem;
  transition: all 0.3s ease;
  border: 1px solid var(--texto-rojo);
  position: relative;
}

/* Modificaciones aquí para el efecto hover */
.tecno-icons a::after {
  content: attr(data-name);
  position: absolute;
  bottom: -30px;
  left: 50%;
  transform: translateX(-50%) scale(0.8);
  opacity: 0;
  transition: all 0.3s ease;
  font-size: 0.8rem;
  font-weight: bold;
  color: var(--texto-rojo);
  padding: 5px 10px;
  border-radius: 5px;
  white-space: nowrap;
  border: none;
  pointer-events: none;
}

.tecno-icons a:hover {
  transform: translateY(-3px);
  color: var(--texto-blanco);
  box-shadow: 0 5px 15px var(--texto-rojo);
}

.tecno-icons a:hover::after {
  transform: translateX(-50%) scale(1);
  opacity: 1;
  bottom: -35px;
}

.galery {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-bottom: 10%;
}

.h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
  font-family: var(--fuente-principal);
  margin-top: 8%;
  line-height: 1.2;
  color: var(--texto-rojo);
  text-shadow: none;
}

/* Párrafo de presentación mejorado */
.presentacion {
  font-size: 1.5rem;
  font-family: var(--fuente-secundaria);
  color: var(--texto-blanco);
  text-align: center; /* Centrar el texto para mejor visualización */
  line-height: 1.6; /* Aumentar el interlineado para mejor legibilidad */
  max-width: 800px; /* Usar un ancho máximo para pantallas grandes */
  margin: 20px auto 50px auto; /* Centrar y añadir espacio */
}

.card-list {
  list-style-type: none;
  padding-left: 0;
}
.card-list strong {
  color: var(--texto-rojo);
  display: block;
  margin-top: 10px;
}

.card-list li {
  font-size: 1vw;
  font-family: var(--fuente-secundaria);
  line-height: 2;
  letter-spacing: 2px;
  color: var(--texto-blanco);
  margin-bottom: 1.5rem;
}

.nav-links a {
  text-decoration: none;
  color: var(--texto-rojo);
  font-size: 1.3rem;
  font-weight: 500;
  transition: all 0.3s ease;
  position: relative;
}

.nav-links a::after {
  content: '';
  position: absolute;
  width: 0;
  height: 2px;
  bottom: -5px;
  left: 0;
  background-color: var(--texto-blanco);
  transition: width 0.3s ease;
}

.nav-links a:hover {
  color: var(--texto-blanco);
}
